
html {
  scroll-behavior: smooth;
}


#highlight {
  color: orange;
}

#maincont {
  padding-top: 150px;
  padding-bottom: 70px;
  font-size: 20px;
}

img {
  width: 1500px;
}

#brimg {
  background-image: url(href = "icons.png");
  background-repeat:space;
}
p[name = "things"] {
    padding-left: 20px;
}
div[name = "projects"]{
  padding-top: 70px;
  padding-bottom: 80px;
  align-items: center;
  background-color: #ED1C24;
  z-index: -1;
}

div[name = "pro-card"] {
  padding-top: 30px;
  padding-left: 0;
  padding-bottom: 40px;
}
#projecthead {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: -25px;
  font-size: 100px;
}

#abouthead {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: -25px;
  font-size: 100px;
}

a {
  color: #ED1C24;
  text-decoration: none;
}

a:hover {
  color: #6E2594;
  text-decoration: none;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

#email {
  font-size: 65px;
  padding: 60px;
  word-break:break-all;
}

@media screen and (max-width: 767px) {
  #abouthead { font-size: 70px;}
  #projecthead {font-size: 70px;}
  #email {font-size: 35px;   padding: 40px;}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
}
